# unnecessary things

# vsc &  workspace
.vscode/
*.code-workspace

# jupyter
.ipynb_checkpoints/

#python
__pychache__/
*.pyc

# Macos
.DS_Store

# Conda
*.env

# packages for ready to deploy models
*.pkl

# Large data files
*.data
*.npy
*.npz
my_mnist*

# Images folder (downloaded automatically by the notebook)
images/
datasets/